<a routerLink="/cart" id="button_compound">
    <div>
        <p>{{ $getCartQuantity() | async }}</p>
        <fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon>
    </div>
</a>
<div class="wrapper">
    <button routerLink="/admin" id="admbtn">
        <fa-icon [icon]="['fas', 'tools']"></fa-icon>
    </button>
    <button id="scroll_top" (click)="scrollTop()">
        <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
    </button>
    <div class="wrapper_right">
        <h2 class="item">NoLama</h2>
        <a routerLink="/landing">
            <img src="assets/photos/NoLama.png" alt="logo" />
        </a>
    </div>
    <div class="wrapper_panel">
        <div class="side_panel"></div>
        <div class="main_panel">
            <div class="navbar">
                <ul>
                    <li>
                        <a routerLink="/landing">Home</a>
                    </li>
                    <li>
                        <a routerLink="/products">Products</a>
                    </li>
                    <li>
                        <a routerLink="/cart">Cart</a>
                    </li>
                </ul>
            </div>
            <div class="searchbar">
                <div class="panel_left">
                    <input #query type="text" />
                </div>
                <div class="panel_right">
                    <button
                        routerLink="/products"
                        (click)="this.sendQuery(query.value)"
                    >
                        <fa-icon [icon]="['fas', 'search']"></fa-icon>
                        <p>Szukaj</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="side_panel"></div>
    </div>
</div>
